<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JpoApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JpoApi.Properties.Settings>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://ip-data.jpo.go.jp/api/patent/v1</value>
            </setting>
            <setting name="at_url" serializeAs="String">
                <value>https://ip-data.jpo.go.jp</value>
            </setting>
            <setting name="rss_url" serializeAs="String">
                <value>https://www.j-platpat.inpit.go.jp/cache/rss</value>
            </setting>
        </JpoApi.Properties.Settings>
    </userSettings>
</configuration>